.main {
    height: 50%;
    width: 50%;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 30px;
    text-align: center;
    color: white;
}

.main h1 {
    text-align: center;
    font-size: 2.5em;
}

.main p {
    font-size: 1.1em;
}